<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>level 2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{1024,768}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{1024,768}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1024,1024}}</string>
		</dict>
		<key>level 9.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,768},{62,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{62,43}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1024,1024}}</string>
		</dict>
		<key>level 11.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,768},{62,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{62,43}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1024,1024}}</string>
		</dict>
		<key>level 12.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,811},{25,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{25,70}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1024,1024}}</string>
		</dict>
		<key>level 13.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,811},{76,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{76,70}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1024,1024}}</string>
		</dict>
		<key>level 14.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,811},{25,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{25,70}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1024,1024}}</string>
		</dict>
		<key>level 10.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,768},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{82,82}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1024,1024}}</string>
		</dict>
		<key>level 8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,768},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{48,48}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{1024,1024}}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>background.png</string>
		<key>textureFileName</key>
		<string>background.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
	</dict>
</dict>
</plist>
